header{
    background: lightgrey;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 125px;
    right: 0;
}

nav li {
    display: inline-block;
    margin: 0 0 0 15px;

}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    font-weight: bolder;
    color: darkgoldenrod;
}

.rick {
    color: lightgrey;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    border: 3px solid black;
    border-radius: 20px;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    
}

.produtos li:hover {
    border: darkgoldenrod 4px solid;
    width: 30.1%;
}

.produtos li:active {
    border-color: green;
}

.produtos li:hover h2 {
    font-size: 34px;
    color: darkgoldenrod;
}

.produtos li:hover .nomeProduto {
    font-size: 20px;
    color: darkgoldenrod;
}

.produtos li:hover .preçoProduto {
    font-size: 24px;
    color: darkgoldenrod;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.nomeProduto {
    font-size: 18px;
}

.preçoProduto {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: white;
    font-size: 14px;
    margin: 20px 0 0;
}